*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/*MENU PRINCIPAL*/
nav{
    background: #D0F4DE;
    height: 100px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 10px 50px;
}

.logo{
    height: 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.activo, li a:hover{
    background: #FCF6BD;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #FCF6BD;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*RESPONSIVE DEL MENÚ*/

@media (max-width: 952px){ /*TABLET*/
    .enlace{
        padding-left: 20px;
    }
    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){ /*CELULAR*/
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #A9DEF9;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;

    }
}

/* CONTACTOS */
.titulo_contacto{ 
    font-family: 'Dosis', sans-serif;
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-style: none;
    margin-left: -100%;
    padding: 10px;
    text-align: center;
}

.form_contacto{ 
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    background: #fcfcda;
    border-radius: 10px;  
    margin-left: 20%;  
}

.grupo_contacto{
    font-family: 'Dosis', sans-serif;
    display: block;
    position: relative;
    width: 700px;
    height: auto;
    margin: 10px auto;
    padding: 30px 10px 10px;
}

.grupo_contacto input{
    font-family: 'Dosis', sans-serif;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
}

.grupo_contacto input:focus{
    font-family: 'Dosis', sans-serif;
    border: 3px solid #FFE5B4;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163, 0.3);
    }

.grupo_contacto label{
    font-family: 'Dosis', sans-serif;
    display: block;
    position: absolute;
    width: auto;
    top: 1px;
    left: 50px;
    padding: 5px 5px 5px 5px;
    border-radius: 0;
}

#mensaje{
    font-family: 'Dosis', sans-serif;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    position: center;
}

#mensaje:focus{
    font-family: 'Dosis', sans-serif;
    border: 3px solid #FFE5B4;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163, 0.3);
}

.enviar_btn{
    font-family: 'Dosis', sans-serif;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #FFB7C3;
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    position: center;
}

/*PIE DE PAGINA*/
footer {
    align-self: flex-end;
    float: bottom;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: auto;
}