*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/*MENU PRINCIPAL*/
nav{
    background: #D0F4DE;
    height: 100px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 10px 50px;
}

.logo{
    height: 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.activo, li a:hover{
    background: #FCF6BD;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #FCF6BD;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*RESPONSIVE DEL MENÚ*/

@media (max-width: 952px){ /*TABLET*/
    .enlace{
        padding-left: 20px;
    }
    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){ /*CELULAR*/
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #A9DEF9;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;

    }
}

/* BARRA LATERAL */
aside{
    font-family: 'Dosis', sans-serif;
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    text-decoration: none;
    padding-left: 1%;
    padding-top: 2%;
    list-style-type: none;
    height: 100%;
}

a{
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

h1{
    font-size: 20px;
}

/*MAS VENDIDOS*/
h2{
    padding-top: 20px;
    text-align: center;
    margin-left: 50%;
}

/*IMAGENES*/
.item-img{
    width: 400px;
    margin:50px ;
    padding:50 px ;
}

.item-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

/*LETRAS*/
.item-menu{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: left;
    display: flex;
    text-align: start;
}

h2{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}

/*MAS VENDIDOS*/
section h2{
    padding-top: 20px;

}


/*PIE DE PAGINA*/
footer {
    align-self: flex-end;
    float: bottom;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: auto;
}