/*El Css que hice para el js y register*/
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding-bottom: 10em;
    text-decoration: none;
    position: relative;
    min-height: 100vh;
}

/* PARTE SUPERIOR DE LA PAGINA (LOGO Y MENU PRINCIPAL) */
header {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(251, 248, 204);
    height: 80px;
    width: 100%;
    /* border-bottom: 1px solid rgb(158, 156, 156); */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 110%;
}

.logo img {
    width: 120px;
    height: 120px;
}

nav ul li{
    float: right;
    list-style: none;
    margin: 20px;
    line-height: 30px;
    text-decoration:none;
    color: black;
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: black;
    list-style: none;
}

.clearfix{
    clear: both;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

span{
    color: red;
}

/* FORMULARIO*/
.formulario {
    background: #fcfcda;
    margin-top: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 10px;  
}

.formulario_label{
    display: block;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo-input{
    position: relative;
}

.formulario_input{
    width: 90%;
    background: #ffffff;
    border: 3px solid transparent;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 30px 5 30px;
    transition: .3s ease all;
    margin-left: 10px;
}

.formulario_input:focus {
    border: 3px solid #FFE5B4;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163, 0.3);
}

.formulario_input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario_input-error-activo{
    display: block;
}

.formulario_checkbox{
    margin-right: 10px;
}

.formulario_grupo-terminos,
.formulario_mensaje,
.formulario_grupo-btn-enviar{
    grid-column: span 2;
}

.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background: #ff8097;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario_mensaje-activo{
    display: block;
}

.formulario_mensaje p {
    margin: 0;
}

.formulario_grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_btn{
    font-family: 'Dosis', sans-serif;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #FFB7C3;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    font-size: 17px;
}

.formulario_btn:hover {
    box-shadow: 3px 0 30px rgba(163,163,163, 1);
}

.formulario_mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_mensaje-exito-activo{
    display: block;
}

.formulario_grupo-incorrecto .formulario_label{
    color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_input{
    border: 3px solid #bb2929;
}

/*Mediaqueris*/
@media screen and (max-width: 800px){
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario_grupo-terminos,
    .formulario_mensaje,
    .formulario_grupo-btn-enviar{
        grid-column: 1;
    }
    .formulario_btn{
        width: 100%;
    }
}
