*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/*MENU PRINCIPAL*/
nav{
    background: #D0F4DE;
    height: 100px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 10px 50px;
}

.logo{
    height: 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.activo, li a:hover{
    background: #FCF6BD;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #FCF6BD;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*RESPONSIVE DEL MENÚ*/

@media (max-width: 952px){ /*TABLET*/
    .enlace{
        padding-left: 20px;
    }
    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){ /*CELULAR*/
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #A9DEF9;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0;

    }
}

/* FORMULARIO*/
.formulario {
    background: #fcfcda;
    margin-top: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 10px;  
}

.formulario_label{
    display: block;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo-input{
    position: relative;
}

.formulario_input{
    width: 90%;
    background: #ffffff;
    border: 3px solid transparent;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 30px 5 30px;
    transition: .3s ease all;
    margin-left: 10px;
}

.formulario_input:focus {
    border: 3px solid #FFE5B4;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163, 0.3);
}

.formulario_input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario_input-error-activo{
    display: block;
}

.formulario_checkbox{
    margin-right: 10px;
}

.formulario_grupo-terminos,
.formulario_mensaje,
.formulario_grupo-btn-enviar{
    grid-column: span 2;
}

.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background: #ff8097;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario_mensaje-activo{
    display: block;
}

.formulario_mensaje p {
    margin: 0;
}

.formulario_grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_btn{
    font-family: 'Dosis', sans-serif;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #FFB7C3;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    font-size: 17px;
}

.formulario_btn:hover {
    box-shadow: 3px 0 30px rgba(163,163,163, 1);
}

.formulario_mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_mensaje-exito-activo{
    display: block;
}

.formulario_grupo-incorrecto .formulario_label{
    color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_input{
    border: 3px solid #bb2929;
}

/*Mediaqueris*/
@media screen and (max-width: 800px){
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario_grupo-terminos,
    .formulario_mensaje,
    .formulario_grupo-btn-enviar{
        grid-column: 1;
    }
    .formulario_btn{
        width: 100%;
    }
}

/*PIE DE PAGINA*/
footer {
    align-self: flex-end;
    float: bottom;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 50px;
}