*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding-bottom: 10em;
    text-decoration: none;
    position: relative;
    min-height: 100vh;
}

/* PARTE SUPERIOR DE LA PAGINA (LOGO Y MENU PRINCIPAL) */
header {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(251, 248, 204);
    height: 80px;
    width: 100%;
    /* border-bottom: 1px solid rgb(158, 156, 156); */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 110%;
}

.logo img {
    width: 120px;
    height: 120px;
}

nav ul li{
    float: right;
    list-style: none;
    margin: 20px;
    line-height: 30px;
    text-decoration:none;
    color: black;
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: black;
    list-style: none;
}

.clearfix{
    clear: both;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

span{
    color: red;
}

/* REGISTRO DE LA PAGINA */

.Formulario{
    /* background: linear-gradient(#CFBAF0, #F1C0E8, #FFCFD2, #FDE4CF, #FBF8CC); */
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.Formulario h2{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 0 0 20px 0; 
}

.Formulario form{
    font-family: 'Dosis', sans-serif;
    padding: 0 40px;
    box-sizing: border-box;
}

/*FORM */
form .user{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

form .name{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

form .birthday{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

form .phonenumber{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

form .emailaddress{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

form .password{
    font-family: 'Dosis', sans-serif;
    position: relative;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 30px 0;
}

/*IMPUT */
.user input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.name input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.birthday input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.phonenumber input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.emailaddress input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password input{
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* LABEL */
.user label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.name label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.birthday label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.phonenumber label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.emailaddress label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.password label{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

/* SPAN-BEFORE*/
.user span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #A3C4F3;
}

.name span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

.birthday span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

.phonenumber span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

.emailaddress span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

.password span::before{
    font-family: 'Dosis', sans-serif;
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

/* INPU:FOCUS ~ LABEL */

.user input:focus ~ label,
.user input:valid ~ label{
    top: -15px;
    color: #A3C4F3;
}

.name input:focus ~ label,
.name input:valid ~ label{
    top: -15px;
    color: #000000;
}

.birthday input:focus ~ label,
.birthday input:valid ~ label{
    top: -15px;
    color: #000000;
}

.phonenumber input:focus ~ label,
.phonenumber input:valid ~ label{
    top: -15px;
    color: #000000;
}

.emailaddress input:focus ~ label,
.emailaddress input:valid ~ label{
    top: -15px;
    color: #000000;
}

.password input:focus ~ label,
.password input:valid ~ label{
    top: -15px;
    color: #000000;
}

/*INPUT:FOCUS ~ SPAN::BEFORE */
.user input:focus ~ span::before,
.user input:focus ~ span::before{
    width: 100%;
}

.name input:focus ~ span::before,
.name input:focus ~ span::before{
    width: 100%;
}

.birthday input:focus ~ span::before,
.birthday input:focus ~ span::before{
    width: 100%;
}

.phonenumber input:focus ~ span::before,
.phonenumber input:focus ~ span::before{
    width: 100%;
}

.emailaddress input:focus ~ span::before,
.emailaddress input:focus ~ span::before{
    width: 100%;
}

.password input:focus ~ span::before,
.password input:focus ~ span::before{
    width: 100%;
}

