nav{
	max-width: 3000px;
	margin: auto;
	background-color: rgb(248, 247, 255);
	font-size: 20px;
	margin-top: 50px;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal > li > a{
	display: block;
	padding: 15px 15px;
	color: black;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: rgb(255, 255, 252);
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 100px;
	background-color: rgb(255, 255, 252);
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgb(241, 192, 232);
}

.menu-vertical li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 15px 15px 15px 15px;
    text-decoration: none;
}

/* Inicio estilo del carrousel o slider */

.slider-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: black;
    opacity: 70;
}

.slider-nav a:hover{
    opacity: 10;
    background-color: blanchedalmond;
}

/* Fin estilo del carrousel o slider */

/* Estilo de producto_ojos.html */

.item-img{
    width: 400px;
}


.item-flex{
    display: flex;
    flex-wrap: wrap;
}